.icon-48-facebookphotolinks {
      background-image: url(../images/l_facebookphotolinks.png);
      padding-left:60px!important;
}

.icon-48-photolinks {
      background-image: url(../images/l_facebookphotolinks.png);
      padding-left:60px!important;
}

